@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
<head>

    <link rel="stylesheet" href="./MainLayout.razor.css" />

</head>

<div class="bodyContainer">
    <div>
        <div class="">
            @Body
        </div>
    </div>
</div>

