@page "/admin"
@using E_commerceFronted.Components

<div class="row">
    <div class="col-sm-4">
        <AddProductForm></AddProductForm>

    </div>
    <div class="col-sm-8">
            <Productshow></Productshow>
       
      
    </div>
</div>
